# Virtual environment. Use the following commands to recreate:
#   python -m venv .venv
#   pip install -r requirements.txt
.venv/

# VSCode environment / configuration
.vscode/

# Temporary files
*.pyc

# User files
personal/
